* {
    font-family: 'Hero New', Arial, sans-serif;
    color: #494948;
    margin: 0;
    padding: 0;
}

.html,
.body {
    height: 100%;
    min-width: 320px;
}

.content {
    width: 790px;
    max-width: 100%;
    margin: 0 auto;
}


/* Header */

.header {
    width: 100%;
    height: 106px;
}

.header__background {
    width: 100%;
    height: 100%;
    background-color: #fdcd2b;
}

.header__content {
    width: 1024px;
}

.header__content::before,
.header__content::after {
    content: '';
    clear: both;
    display: table;
}

.header__logo {
    width: 60px;
    height: 106px;
    float: left;
    background: no-repeat 50% 50% url(../img/logo-veon.png);
    background-size: contain;
    margin: 0 40px;
}

.header__link {
    display: inline-block;
    height: 106px;
    float: right;
    margin: 0 40px;
}

.header__link-content {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 106px;
    text-decoration: none;
}

@media (max-width: 640px) {
    .header__logo,
    .header__link {
        margin: 0 30px;
    }
}


/* Page */

.page {
    width: 640px;
    margin: 0 auto;
}

.page__header {
    font-size: 35px;
    margin: 36px 0;
}

@media (max-width: 640px) {
    .page {
        width: auto;
        padding: 0 30px;
    }
}


/* Blog post */

.blog-post {
    margin-bottom: 65px;
}

.blog-post__date {
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 12px;
}

.blog-post__image {
    height: auto;
    max-width: 100%;
    background-color: #f5f5f5;
}

.blog-post__header {
    font-size: 24px;
    margin: 20px 0;
}

.blog-post__content {
    font-size: 17px;
    font-weight: 100;
    margin: 20px 0;
}

.blog-post__cut-content {
    display: inline;
    font-size: 17px;
    font-weight: 100;
}

.blog-post__cut-content_invisible {
    display: none;
}

.blog-post__cut-description {
    margin: 20px 0;
}

.blog-post__cut-description_invisible {
    display: none;
}

.blog-post__cut-link {
    font-size: 17px;
    font-weight: 100;
    text-decoration: underline;
    cursor: pointer;
}

.blog-post__social {
    margin: 20px 0;
}


/* Footer */

.footer {
    padding: 40px;
    background: black;
}

.footer__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__logo {
    width: 60px;
    height: 80px;
    margin: 3px auto 40px;
    flex-shrink: 0;
    display: block;
    background: no-repeat 50% 50% url(../img/logo-white.png);
    background-size: contain;
}

.footer__block {
    flex-shrink: 1;
    margin-top: auto;
}

.footer__text {
    color: white;
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
}

@media (min-width: 768px) {
    .footer__content {
        flex-flow: row nowrap;
        align-items: flex-start;
    }
    .footer__logo {
        margin: 0;
        margin-right: 30px;
    }
}


/* VIDEO */

.video {
    z-index: 9000;
    position: fixed;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: opacity 1.5s;
    padding: 0;
}

.video_visible {
    visibility: visible;
    opacity: 1;
}

.video_visible .video__player-wrapper{
    transition: opacity 1s .5s;
    opacity: 1;
}

.video__player-wrapper {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 0;
    opacity: 0;
}

.video__player-wrapper video {
    width: 100%;
}

.video__close-button {
    z-index: 9001;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #eee;
}

.video__player {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
    .video {
        padding: 50px;
    }
    .video__wrapper video {
        width: auto;
    }
    .video__close {
        font-size: 32px;
        line-height: 60px;
        width: 60px;
        height: 60px;
    }
}
